#container {
    width: 160px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

.box {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid black;
}